{% extends "public-access/layout.njk" %}

{% block head %}
    <title>Sobre</title>
    <link rel="stylesheet" href="/styles/public-access/about/about.css">
{% endblock head %}

{% block content %}
    <section class="about">
        <div class="about-foodfy">
            <h2>Sobre o Foodfy</h2>
        </div>
        <div class="about-text">
            <div>
                <p>
                    {{about}}
                </p>
            </div>
            <div>
                <p>
                </p>
            </div>
        </div>

        <div class="how-foodfy-started">
            <h2>Como tudo começou...</h2>
        </div>
        <div class="how-foodfy-started-text">
            <div>
                <p>
                    {{about}}
                </p>
            </div>
            <div>
                <p>
                    {{about}}
                </p>
            </div>
        </div>

        <div class="our-recipes">
            <h2>Nossas receitas</h2>
        </div>
        <div class="our-recipes-text">
            <div>
                <p>
                    {{about}}
                </p>
            </div>
        </div>
    </section>
{% endblock content %}